<%= form_for @interface, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field large' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field large' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :method, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :method, Interface.select_methods_tag %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :params, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :params, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :auth, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :auth, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :returns, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :returns,  :rows => 8 %>
    </div>
    <p class='help'>
      格式:  {  "key": "value"  }
    </p>
  </div>

  <div class="form-actions">
    <%= f.submit "提交", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                interfaces_path, :class => 'btn' %>
  </div>
<% end %>
