<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RestPrev" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="/assets/rails.png" rel="shortcut icon">
    <style type="text/css">
      body { padding: 100px 0 0 0; }
    </style>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <h1>
            <%= link_to "InterFace", root_url, :class => "brand" %>
          </h1>

          <div class="span2 pull-right">
            <%= link_to "新建接口",  new_interface_path,  :class => 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <%= notice_message %>
        <div class="row">
            <div class="span3">
              <div class="well sidebar-nav">
                <h3>
                  接口定义
                </h3>
                <ul class="nav nav-list">
                  <% for inter in @inters -%>
                    <%= link_to inter.url, interface_path(inter) %>
                  <% end -%>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->
           <div class="span9">
              <%= yield %>
            </div>
        </div><!--/row-->
      </div><!--/content-->

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
